nav{
    position: fixed;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container1{
    display: flex;

}


.sidebar{
    background-color: #30475E;
    color: #ECECEC;
    width: 200px;
    height: 100vh;
    padding-left: 18px;
    padding-top: 15px;
    border-radius: 5px;
}


.sidebar p{
    font-size: larger;
    color: #ECECEC;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

.sidebar ul{
    padding: 0;
}

.sidebar a{
    text-decoration: none;
}

.sidebar ul :hover{
    color: #C1A57B;
}

.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo{
    font-size: 30px;
    padding-left: 8px;
}


.bottom_section {
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end; 
}

.social_icons {
    list-style: none;
    display: flex;
    align-items: center;
}

.social_icons a {
    color: #ECECEC;
    font-size: 28px; 
    text-decoration: none;
    padding-left: 15px;
}
.social_icons a :hover{
    color: #C1A57B;
}




