.content{
    flex: 1;
}

.compare-container{
    display: flex;
    padding: 0;
}

.navbar-spacer{
    width: 400px;
}

.compare-content{
    flex-grow: 1;
}

.compare-title{
    padding: 20px;
    text-align: center;
    width: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { 
    grid-area: 1 / 1 / 6 / 2; 
}
.div2 { 
    grid-area: 1 / 2 / 6 / 3; 
}