.content{
    flex: 1;
}

.compare-container{
    display: flex;
    padding: 0;
    background: url('../Images/beautiful-view-sky-sunset-beach.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.navbar-spacer{
    width: 200px;
}

.compare-content{
    background-color: rgba(97, 97, 97, 0.37);
    padding-left: 55px;
    flex-grow: 1;
}

.compare-title{
    font-family: "Poppins", sans-serif;
    padding: 20px;
    text-align: center;
    width: 100%;
    color: white;
}

.title-info{
    font-family: "Lora", serif;
    text-align: center;
    padding: 0px 70px;
    color: white;
    justify-content: center;
}

.parent1 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
    
.div4 { 
    border-radius: 30px;
    background-color: #30475E;
    grid-area: 1 / 1 / 2 / 2; 
    border: 1px solid #C1A57B;
    box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    -webkit-box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    -moz-box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
}
.div5 { 
    border-radius: 30px;
    background-color: #30475E;
    grid-area: 1 / 2 / 2 / 3; 
    border: 1px solid #C1A57B;
    box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    -webkit-box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    -moz-box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
}

.compare-col{
    margin-top: 20px;
    width: 98%;
    height: 80vh;
}

.drop-compare{
    margin-top: 15px;
    margin-left: 25px;
}

.title-city1{
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #ECECEC;
}

.title-city1 h3{
    font-family: "Lora", serif;
    color: #C1A57B;
}

.load{
    text-align: center;
    font-family: "Lora", serif;
}

.drop1{
    margin-left: 25px;
    margin-top: 8px;
    list-style: none;
    display: flex;
    align-items: center;
}

.dropdown{
    margin-right: 20px;
}