
.title {
    padding: 20px;
    text-align: center;
    width: 100%;
}
  

.title-info{
    text-align: center;
    padding: 30px 150px;
}

.title-container{
    justify-content: center;
}

.dashboard-container{
    display: flex;
    padding: 0;
}

.navbar-spacer{
    width: 400px;
}

.dashboard-content{
    flex-grow: 1;
}

.content{
    flex: 1;
    padding: 0;
}


.parent {
    margin-left: 20px;
    height: 71vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.div1 { 
    background-color: black;
    height: 25vh;
    grid-area: 2 / 3 / 4 / 4; 
    
}
.div2 { 
    margin-left: 20px;
    margin-right: 20px;
    background-color: black;
    grid-area: 1 / 1 / 2 / 4; 

}
.div3 {
    background-color: black;
    height: 25vh;
    grid-area: 5 / 1 / 4 / 2; 

}

.info-container{
    width: 100%;
    height: 71vh;
}

  