.title {
    padding: 20px;
    text-align: center;
    width: 100%;
    color: white;
}
  

.title-container{
    justify-content: center;
}

.dashboard-container{
    display: flex;
    padding: 0;
    background-color: rgb(31, 31, 31);
    height: 100vh;
}

.navbar-spacer{
    width: 400px;
}

.dashboard-content{
    flex-grow: 1;
}

.content{
    flex: 1;
    padding: 0;
}


.parent {
    margin-top: 50px;
    margin-left: 80px;
    height: 71vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
 .div1 { 
    background-color: rgba(40, 72, 255, 0.37);
    height: 25vh;
    grid-area: 2 / 3 / 4 / 4; 
    border-radius: 30px;
    box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    -webkit-box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    -moz-box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    
}
.div2 { 
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(40, 72, 255, 0.37);
    grid-area: 1 / 1 / 2 / 4; 
    border-radius: 30px;
    box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    -webkit-box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    -moz-box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
}
.div3 {
    margin-top: 150px;
    background-color: rgba(40, 72, 255, 0.37);
    height: 40vh;
    grid-area: 5 / 1 / 4 / 2; 
    border-radius: 30px;
    box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    -webkit-box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
    -moz-box-shadow: 13px 2px 56px -1px rgba(97, 97, 97, 0.37);
} 

.info-container{
    width: 100%;
    height: 71vh;
}

.weather-text{
    text-align: center;
    margin: 20px;
    color: white;
}

.weather-title{
    text-align: center;
    margin: 10px;
    color: white;
}

.drop{
    margin-left: 85px;
}


.chart-info{
    margin: 10px;
    text-align: center;
    color: white;
}

.LineChart{
    padding: 15px;
}
  